<!--
-->
<launch>

  # Bag filename
  <arg name="bag_file" default="/home/chur/Dataset/2017-09-21_full_track_surface/siar_2017-09-21-12-17-39.bag"/>
  <arg name="play_bag" default="true"/>
  <arg name="rate" default="1"/>
  <arg name="initial_x" default="100.52" />
  <arg name="initial_y" default="-197.05" />
  <arg name="initial_a" default="-0.562" />
  <arg name="detector" default="false"/>
  <arg name="vis" default="true"/>
  <arg name="ground_truth" default="/home/chur/Dataset/2017-09-21_full_track_surface/input_vector_2017-09-21_ground_truth.txt"/>
  <arg name="ground_truth_out" default="/home/chur/Dataset/2017-09-21_full_track_surface/ground_truth/input_vector_2017-09-21_ground_truth_out.txt"/>
  <arg name="odom_x_mod" default="0.2" />
  <arg name="odom_y_mod" default="0.2" />
  <arg name="odom_a_mod" default="0.1" />
  <arg name="odom_a_noise" default="0.075" />
  <arg name="graph_file" default="gis_graph_reduced_2"/>
  
  <node pkg="odom_to_tf" type="odom_to_tf.py" name="odom_to_tf">
    <remap from="/odom" to="/rtabmap/odom"/>
  </node>
  
  # Use simulation time fro TFs
  <param name="use_sim_time" value="true" />
  
  <arg name="camera" default="/front"/>
  <arg name="start" default="0"/>
  
  <arg name="trajectory_file" default="/home/chur/Dataset/2017-09-21_full_track_surface/ground_truth/traj.txt"/>
  <arg name="trajectory_file_python" default="/home/chur/Dataset/2017-09-21_full_track_surface/ground_truth/traj_python.txt"/>

  # Bag file
  <node name="bag_player" type="play" pkg="rosbag" args="$(arg bag_file) --clock -s $(arg start) -r $(arg rate)" if="$(arg play_bag)" output="screen"/>
  
  # Uncompress images and depth
  <node name="republish_img" type="republish" pkg="image_transport" output="screen" args="raw in:=/$(arg camera)/rgb/image out:=/$(arg camera)/rgb/image"/>
  <node name="republish_depth" type="republish" pkg="image_transport" output="screen" args="compressedDepth in:=/$(arg camera)/depth_registered/image raw out:=/$(arg camera)/depth_registered/image_raw"/>
  <node name="republish_depth_2" type="republish" pkg="image_transport" output="screen" args="compressedDepth in:=/up/depth_registered/image raw out:=/up/depth_registered/image_raw"/>
    
<!--   <node name="amcl_node" type="amcl_node" pkg="amcl_sewer" launch-prefix="xterm -e gdb - -args" > for DEBUG-->
<node name="amcl_node" type="amcl_node" pkg="amcl_sewer">
    <param name="rate" value="10.0" />
    <param name="base_frame_id" value="base_link" />
    <param name="odom_frame_id" value="odom" />
    <param name="global_frame_id" value="map" />

    <param name="min_particles" value="700" />
    <param name="max_particles" value="1000" />
    
    <param name="odom_x_mod" value="$(arg odom_x_mod)" />
    <param name="odom_y_mod" value="$(arg odom_y_mod)" />
    <param name="odom_a_mod" value="$(arg odom_a_mod)" />
    <param name="odom_a_noise" value="$(arg odom_a_noise)" />
    
    <param name="resample_interval" value="0" />
    
    <param name="update_min_d" value="0.2" />
    <param name="update_min_a" value="0.15" />
    
    <param name="initial_x" value="$(arg initial_x)" />
    <param name="initial_y" value="$(arg initial_y)" />
    <param name="initial_a" value="$(arg initial_a)" />
    
    <param name="initial_x_dev" value="0.3" />
    <param name="initial_y_dev" value="0.3" />
    <param name="initial_a_dev" value="0.1" />
    
    <param name="edgeDev" value="0.3"/>
    <param name="manholeThres" value="0.00075"/>
    <param name="manholeDev" value="0.2" />
    <param name="min_manhole_detected" value="1"/>
    <param name="forkDev" value="0.5"/>
    <param name="fork_dist" value="6.0"/>
    <param name="angleDev" value="0.02"/>
    <param name="angular_weight" value="0.05"/>
    
    <param name="sewer_graph_file" value="$(find sewer_graph)/test/$(arg graph_file)"/>
    
    <remap from="/amcl_sewer_node/initial_pose" to="/initialpose"/>
    
    <param name="initialize" value="true"/>
    
    <param name="traj_file" value="$(arg trajectory_file)"/>
    
  </node>
    
  <node name="vis" type="rviz" pkg="rviz" args="-d $(find amcl_sewer)/launch/amcl_pure.rviz" if="$(arg vis)"/>
  
<!--   <node name="fake_laber" type="fake_detector.py" pkg="manhole_detector" args="/front $(arg ground_truth) $(arg ground_truth_out)" output="screen" /> -->
<node name="ground_truth" type="ground_truth.py" pkg="manhole_detector" args="/front_camera $(arg ground_truth) $(arg ground_truth_out) $(arg trajectory_file_python) " output="screen" >
  <remap from ="/front_camera/rgb/image_raw/compressed" to="/front_camera/rgb/image/compressed"/>
</node>
  
</launch>	
